/* Colors */

$color-orange: #f46245;
$color-green: #b2d135;
$color-blue: #1d8dcc;
$color-light-blue: #91d2ce;

$base-color: #575e71;
$base-text-color: white;

$page-bg-color: $base-color;
$content-bg-color: $base-color;

$command-color: $base-text-color;
$command-text-color: $base-color;

$event-bg-color: $base-text-color;
$event-text-color: $base-color;
$event-name-color: $color-orange;

$toolbar-bg-color: $color-orange;

$searchbar-bg-color: white; 
$search-input-bg-color: white;
$search-btn-bg-color: $color-green;
$search-btn-color: white;
$search-input-border: 1px solid #EEE;

$order-btn-bg-color: $color-green;
$order-btn-color: white;

$pagination-bg-color: white;
$pagination-color: $color-orange;
$pagination-link-color: $base-text-color;

$page-footer-bg-color: $base-color;
$footer-text-color: $base-text-color;

$date-btn-bg-color: $color-blue;
$date-btn-color: white;

$form-bg-color: none;

/* Sizes */

$picture-width: 170px;  /* list layout */
$picture-height: 200px; /* list layout */
$actions-width: 170px;  /* list layout */

$grid-height: 200px; /* section-grid layout */
$grid-width: 200px;  /* section-grid layout */

/* Fonts */

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/roboto-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('/fonts/roboto-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-v15-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('/fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-v15-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

.help { color: white; }

$base-font-family: Roboto;
$base-font-size: 15px;
$base-line-height: 1.231;

/* Border radius */

$box-border-radius: 3px;

/* Responsive page breakpoints */

$screen-sm-min: 760px;  /* Small devices (tablets, 768px and up) */
$screen-md-min: 992px;  /* Medium devices (desktops, 992px and up) */
$screen-lg-min: 1200px; /* Large devices (large desktops, 1200px and up) */

/* Images path */

$images-path: "/images/vel/themes/";

