/cache/*
/log/*
/lib/form/doctrine/base
/lib/form/doctrine/*/base
/lib/filter/doctrine/base
/lib/filter/doctrine/*/base
/lib/model/doctrine/base
/lib/model/doctrine/*/base
/lib/model/doctrine/packages/base
/lib/model/doctrine/packages/*/base
/web/private/*
/web/uploads/*
/data/sql/*
/data/openidconnect

/apps/email/config/app.yml
/apps/email/config/factories.yml
/apps/pos/config/app.yml
/apps/pos/config/factories.yml
/apps/default/config/app.yml
/apps/default/config/factories.yml
/apps/museum/config/factories.yml
/apps/museum/config/app.yml
/apps/event/config/app.yml
/apps/event/config/factories.yml
/apps/grp/config/factories.yml
/apps/grp/config/app.yml
/apps/pub/config/app.yml
/apps/pub/config/factories.yml
/apps/rp/config/app.yml
/apps/rp/config/factories.yml
/apps/stats/config/app.yml
/apps/stats/config/factories.yml
/apps/tck/config/app.yml
/apps/tck/config/factories.yml
/apps/tck/config/extra-modules.php
/apps/ws/config/app.yml
/apps/ws/config/factories.yml
/apps/srv/config/factories.yml
/apps/kiosk/config/app.yml
/apps/kiosk/config/factories.yml
/config/autoload.inc.php
/config/databases.yml
/config/project.yml
/config/properties.ini
/config/private
/config/extra-plugins.php

/nbproject

/apps/jpros/
/web/jpros.php
/web/jpros_dev.php

/.sass-cache/
/web/.sass-cache/
