@import "../import/base";

/* Media queries */

@media (min-width: $screen-sm-min) {
  /* We want 3 blocks in a row */
  $half-gutter: floor(($screen-sm-min - $grid-width * 3) / 4);
  
  #content, 
  body > #footer,
  body > #client-footer,
  body > #client-header { width: 3 * $grid-width + 4 * $half-gutter; }
  
  /* Events admin list */
  .mod-event #sf_admin_content .sf_admin_list table {
    width: 3 * $grid-width + 6 * $half-gutter;
    margin: 0 (-$half-gutter);
    tbody tr {
        width: $grid-width;
        height: $grid-height;
        float: left;
        position: relative;
        margin: 0 $half-gutter 75px;
        overflow: visible;
        clear: none;
    }  
    tbody tr.sf_admin_month {
      width: 3 * $grid-width + 4 * $half-gutter;
      height: auto;
      float: none;
      margin: 0 $half-gutter 25px;
      clear: both;
      td { 
        display: block; 
        padding: 3px 1em;
        text-transform: uppercase;
        font-size: 1.4em;
        font-weight: 400;
        border-radius: $box-border-radius;
      }
      &.month-even td {
        background-color: $section-even-bg-color;
        color: $section-even-color;
      }
      &.month-odd td {
        background-color: $section-odd-bg-color;
        color: $section-odd-color;
      }
    }  
    tbody td {
      &.sf_admin_list_td_list_picture {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: $grid-width;
        height: $grid-width; 
        a { display: block; }
        img { width: 100%; }
      }  
      &.sf_admin_list_td_name {
        display: none;
        width: $grid-width;
        padding: 2em 0;
        color: $event-name-color;
        text-align: center;
        a { 
          display: block;
          width: $grid-width;
          margin: 0;
          padding: 0 8px;
          text-transform: uppercase;
          font-size: 1.5em;
          line-height: 1;
          font-weight: 400;
          color: $event-name-color;
        }
        h2 {
          margin: 0;
          padding: 0;
          font-size: 1.2em;
          font-weight: 300;
        }      
      }    
      &.sf_admin_list_td_list_description { display: none; }    
      &.sf_admin_date_action {
        display: none;
        position: absolute;
        width: 100%;
        height: 40%;
        padding: 8px;        
        bottom: 0;
        a {
          display: block;
          width: 100%;
          height: 28px;
          line-height: 28px; 
          margin: 0;
          padding-left: 1em;
          border-radius: $box-border-radius;
          font-size: 1em;
          font-weight: 400;
          text-align: left;
          color: $date-btn-color;
          background-color: $date-btn-bg-color;
          @include bg-image("show_dates.png");
          background-repeat: no-repeat;
          background-position: center right;
        }
      }    
      &.sf_admin_order_action {
        display: block; 
        position: absolute;
        width: 100%;
        height: auto;
        padding: 0;        
        bottom: 0;
        right: 0;
        overflow: visible;
        a {
          width: 100%;
          display: inline-block;
          margin: 0 0 -50px;
          text-align: center;
        }
      }    
    }  
  }
}


@media (min-width: $screen-md-min) {
  /* We want 4 blocks in a row */
  $half-gutter: floor(($screen-md-min - $grid-width * 4) / 6);
  
  #content, 
  body > #footer,
  body > #client-footer,
  body > #client-header { width: 4 * $grid-width + 6 * $half-gutter; }    
  
  /* Events admin list */
  .mod-event #sf_admin_content .sf_admin_list table {
    width: 4 * $grid-width + 8 * $half-gutter;
    margin: 0 (-$half-gutter);
    tbody tr { margin: 0 $half-gutter 75px; }  
    tbody tr.sf_admin_month {
      width: 4 * $grid-width + 6 * $half-gutter;
      margin: 0 $half-gutter 25px;
    }      
  } 
}

@media (min-width: $screen-lg-min) {
  /* We want 5 blocks in a row */
  $half-gutter: floor(($screen-lg-min - $grid-width * 5) / 8);
  
  #content, 
  body > #footer,
  body > #client-footer,
  body > #client-header { width: 5 * $grid-width + 8 * $half-gutter; }  
  
  
  /* Events admin list */
  .mod-event #sf_admin_content .sf_admin_list table {
    width: 5 * $grid-width + 10 * $half-gutter;
    margin: 0 (-$half-gutter);
    tbody tr { margin: 0 $half-gutter 75px; }    
    tbody tr.sf_admin_month {
      width: 5 * $grid-width + 8 * $half-gutter;
      margin: 0 $half-gutter 25px;
    }        
  } 
}





