body {
  width: 100%;
  min-height: 277mm;
  font-family: arial, sans-serif;
  font-size: 13px;
}

#customer .transaction,
#customer .bdcid { display: none; }

#customer {
  position: absolute;
  right: 20px;
  border: 1px solid gray;
  padding: 5px 10px;
  width: 250px;
  top: 50mm;
}
#customer p { margin: 0; }
#customer .name, #customer .prenom { display: inline; padding-right: 0.5em; font-weight: bold; }
#customer .orgname { font-weight: bold; }
#customer .postalcode, #customer .city { display: inline; padding-right: 0.5em; }
#customer .id { display: none; }
#customer .email { text-decoration: underline; font-size: 80%; }
#customer, #type { margin-right: 25mm; }
#customer .phonenumber { display: none; }

#date { position: absolute; right: 30px; }
#date .time { display: none; }
#place { position: absolute; right: 60px; }

#seller p { margin: 0; }
#seller .name { font-weight: bold; }
#seller .country, #seller .refs, #seller .other { font-size: 80%; }
#seller .postalcode, #seller .city { display: inline; }
#seller .other { margin-top: 7px; }
#seller .sf_guard_user { display: none; }

#lines td, #lines th { border-bottom: 1px solid silver; border-left: 1px solid silver; padding: 0 5px; text-align: center; }
#lines th:after { content: ''; }
#lines .pet { border-right: 1px solid silver; }
#lines .tip, #lines .pet { font-weight: bold; }
#lines .postalcode { display: none; }
#lines .vat .percent { display: none; }
#lines .seats { display: none; }
#lines.with-product thead .time, #lines.with-product thead .date, #lines.with-product thead .location, #lines.with-product thead .city { font-size: 0; border-left: 0; }

.tip:after, .pet:after, .up:after { content: ''; padding-left: 2px; }
#lines .extra-taxes, #lines .pit, #lines .tep, #lines .up, #lines .vat { text-align: right; }

#totals {
  margin-left: 450px;
  width: 140px;
  padding: 5px 10px;
  border: 1px solid silver;
}
#totals td { text-align: left; font-size: 13px; }
#totals td.float { text-align: right; }

.timer-sql, .credits { display: none; }

#ids { padding-top: 150px; }
#ids .order_id { font-weight: bold }
#ids .time { display: none; }
#correction { position: absolute; margin-top: 130px; }

#type {
  position: absolute;
  font-weight: bold;
  font-size: 170%;
  right: 20px;
  top: 100px;
  width: 270px;
}
#type input { width: auto; }

body.bdc .prefix { display: none; }
body.bdc #echeance { display: none; }

#lines .name { max-width: 180px; }
#lines .event { max-width: 220px; }
#lines { margin-bottom: 20px; }

#min-height { height: 250mm; float: left; }
.footer { text-align: center; }
#payments { border: 1px solid silver; margin-left: 4px; padding: 5px 10px; width: 280px; position: relative; bottom: 30px; }
#payments h2 { font-size: 13px; margin: 0 10px 0 0; float: left; }
#payments div { display: table; }
#payments div p { display: table-row; }
#payments div p span { display: table-cell; padding-right: 1em; }
#payments div p span + span { text-align: right; padding-right: 0; }
#payments div p span:last-child { padding-right: 0; }
#payments div p.total span { text-decoration: underline; }
#payments div p.topay { text-decoration: underline; font-weight: bold; }

#lines td { font-size: 10px; }

@media print {
.send-by-email, .get-a-pdf, .inline-modifications { display: none; }
}
.pdf .send-by-email, .pdf .get-a-pdf, .pdf .inline-modifications { display: none; }
.send-by-email, .get-a-pdf, .inline-modifications {
  position: absolute;
  right: 20px;
  top: 30px;
}
.inline-modifiable input { width: 100px; }
#lines .inline-modifiable.qty input { width: 4em; }
.get-a-pdf { margin-top: 45px; }
.send-by-email { margin-top: 90px; }

/** Mise en forme des body */
.body1 { padding-bottom: 20px; padding-left: 25px; }
.body2 { padding-bottom: 20px; padding-left: 25px; }
.body3 { padding-bottom: 20px; padding-left: 25px; }

.body1 .inline-modifiable textarea { padding-bottom: 20px; padding-left: 25px; width: 750px; height: 250px; }
.body2 .inline-modifiable textarea { padding-bottom: 20px; padding-left: 25px; width: 750px; height: 50px;}
.body3 .inline-modifiable textarea { padding-bottom: 20px; padding-left: 25px; width: 750px; height: 250px;}
