/**
 * This file is very special:
 * It is not a regular CSS used as normal CSS files
 * It is used by PHP to define colors in the JSON rendering of zones on seated plans
 *
 * It has to be written really simply, each line must start with "zone." and contain
 * directly a single "background-color" property, and nothing more.
 *
 * Expected colors keys: free, partially-free, middlestate, partially-booked, mostly-booked and booked
 * 
 * Can be overwritten by web/private/pub-seated-plan-masscolors.css
 */
zone.free { background-color: green; }
zone.partially-free { background-color: YellowGreen; }
zone.middlestate { background-color: yellow; }
zone.partially-booked { background-color: gold; }
zone.mostly-booked { background-color: orange; }
zone.booked { background-color: transparent; }
