#content { text-align: center; }
#content > a, #content > form { display: inline-block; padding-top: 17px; text-decoration: none; border: 1px solid silver; height: 35px; border-radius: 3px; vertical-align: middle; width: 25%; background-color: whitesmoke; }
#content > form > * { text-decoration: none; }
