#contact-form .field.cities { height: 0px; margin: -15px 0 0 0; position: relative; top: -8px; background-color: transparent; top: -24px; display: none; }
#contact-form .field.cities select { width: calc(30em + 4px); }
