#member-cards #card_qty { float: right; margin-right: 1em; }
#member-cards #card_qty input { width: 3em; }

#member-cards #card_duplicate { padding-top: 4px; }

#i18n { display: none; }

#member-cards .sf_admin_list_td_list_email, #member-cards .sf_admin_list_th_list_email, #member-cards .sf_admin_list_td_list_address, #member-cards .sf_admin_list_th_list_address { display: none; }
