header {
  height: 62px;
}

#info-panel {
  display: flex;
  display: none;
  align-items: center;
  position: absolute;
  left: 120px;
  bottom: 30px;
  width: 62%;
  padding: 10px;
  z-index: 999;
  border-radius: 15px;

  p, a { color: #fff; }
}

/* MAIN */
#content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

/* ICONS */
.material-icons {
  &.light { color: #fff; }
}

/* BACK BUTTON */
#back-fab {
  display: none;
  position: absolute;
  top: 230px;
  left: 35px;
  height: 80px;
  width: 80px;
  z-index: 998;
  margin-right: 0;

  i {
    font-size: 36px;
    margin-left: -5px;
  }
}

/* INFO BUTTON */
#info-fab {
  height: 80px;
  width: 80px;
  z-index: 998;
  position: absolute;
  bottom: 20px;
  left: 35px;
  background-color: transparent;

  .waves-ripple { border-radius: 50px; }
  i {
    font-size: 93px;
    margin-left: -35px;
  }
}

/* MENU BAR */
#search-label { top: -20px; }
#search-bottom-line::after {
	background-color: white;
}

/* LISTS */
ul{
  list-style-type: none;
  
  &.flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* MENU */
.menu-item-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  font-size: 2em;
  font-weight: bold;
  background-color: #4FC3F7;

  .mdl-card__title {
    color: #fff;
  }
}

/* PRODUCTS */
#products {
  height: 95vh;
  overflow-y: auto;
}

/* MANIF CARD */
.manif-card.mdl-card {
  width: 480px;
  margin: 10px;
}
.manif-card > .mdl-card__title {
  color: #fff;
  height: 140px;
  background-color: #0BC6DC;
}
.manif-card > .mdl-card__title , #product-details-card > .mdl-card__title {
  background-repeat: no-repeat;
  background-size: 100%;
}
.manif-card .manif-title {
	display: flex;
	justify-content: space-between;
  flex-wrap: wrap;
}
.manif-card .manif-name { flex-basis: 100%; }
.manif-card .manif-location { font-size: 0.9em; }
.manif-card .manif-happens_at { font-size: 1em; }
.manif-card .manif-description {
  height: 40px;
  margin-bottom: 5px;
}

/* MANIF DETAILS */
#product-details-card {
  display: none;
  height: 80%;
  width: 60%;
  margin: 30px 40px 30px 150px;
  overflow-y: auto;
  background-color: #f2f2f2;

  .mdl-card__title { height: 150px; }
  #details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98%;
  }

  #product-background {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
  }

  #details-content, #prices {
    background: rgba(255, 255, 255, 0.85);
  }
}

#product-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  #details-name {
    font-weight: bold;
    font-size: 1.5em;
    padding: 0;
    margin: 10px 0 10px 0;
  }
  #details-description { 
    width: 60%;
    margin: 5px; 
  }
  #details-time{ 
    font-size: 1.2em;
    margin: 5px;
  } 
}

/* PRICES */
#prices { 
  max-height: 100%;
  margin: 0;
  padding-bottom: 30px; 
}

/* PRICE CARD */
.price { margin: 5px; }
.price-card-square.mdl-card {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
  min-height: 50px;
  border-radius: 5px;

  .mdl-card__title {
    color: #fff;
    font-weight: bold;
  }
}

/* CART PANEL */
#cart{
  display: flex;
  flex-direction: column;
  display: none;
  margin-left: auto;
  height: 100%;
  width: 30%;
  min-width: 30%;
  max-width: 30%;
  background-color: white;
  overflow-y: auto;

  .waves-ripple { background-color: rgba(255, 255, 255, 0.25); }
}
#cart-lines {
  width: 100%;
  padding: 0;
  margin-top: 5px;
  flex-grow: 1;
}
#cart-total {
  display: flex;
  color: #fff;
  font-size: 2.5em;
  padding: 16px;
  margin: 0 2px 5px;
}
#cart-total-label{
  margin-left: auto;
  margin-right: 15px;
}
#cart-confirm { padding: 5px; }
#confirm-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
#confirm-btn {
  color: #fff;
  width: 100%;
  height: 90px;
  font-size: 1,5em;
  font-weight: bold;

  i {
    margin-right: 20px;
    font-size: 48px;
  }
}

.cart-line {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  margin: 2px;
  padding: 16px 16px 0 16px;
  max-height: 100px;

  .line-main { flex-basis: 80%; }
  .line-second { margin-left: 65px; }
  .line-qty, .line-name {
    font-weight: bold;
  }
  .line-third {
    margin-left: auto;
    font-size: 1.8em;
  }

  /* Remove buttons */
  .remove-item {
    height: 45px;
    width: 45px;
    margin: 0 10px 0 0;
    min-width: 45px;
  }
}

/* TOASTS */
#toast-container.toast-bottom-full-width {
  width: 60%;
}

/* LOADER */
#spinner {
  height: 150px;
  width: 150px;
  align-self: center;
  z-index: 999;
}



/* THEME CSSS */
.app-layout .app-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
.app-layout .app-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}
.app-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.app-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.app-drawer .mdl-menu__container {
  z-index: -1;
}
.app-drawer .app-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.app-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.app-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.app-logo-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.app-navigation {
	flex-grow: 1;
}
.app-layout .app-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.app-layout .app-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.app-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.app-content {
  max-width: 1080px;
}