<?php
// this file template file can be ignored if nothing to do is required

return array(

  'plugins' => array(
    // add extra plugins that need to be loaded in the first pass here, one by line
    //'liLibsApiPlugin',
    
    //'liOnlineChoicesPlugin',
    //'liOnlineSalesPlugin',
    'sfDependencyInjectionPlugin',
  ),
  
  'filters' => array(
    // add extra filters here
    //'exceptionCatcherFilter' => true,
  ),

);
