# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/11-App

# default values
all:
  open: true
  user:
    templating: kiosk
    #other_templates: []
    must_authenticate: false
    #session_ns: ''
  texts:
    menu_manifestation: 
      fr: 'Activités'
      en : 'Museum activities'
    menu_museum: 
      fr: 'Visites'
      en: 'Museum visits'
    menu_store: 
      fr: 'Boutique'
      en: 'Store'