# sample
# this content has to be added into your apps/pub/config/app.yml or equivalent

all:
  payment:
    type: onthespot
    autofollow: true
    #button_text: Payment by other means
  payments:
    list:
      onthespot: ~
